@font-face {
  font-family: 'Euclid Circular';
  font-weight: 400;
  src: url('../fonts/Euclid\ Circular\ A\ Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Euclid Circular';
  font-weight: 900;
  src: url('../fonts/Euclid\ Circular\ A\ Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Euclid Circular';
  font-weight: 900;
  font-style: italic;
  src: url('../fonts/Euclid\ Circular\ A\ Bold\ Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Euclid Circular';
  font-weight: 200;
  src: url('../fonts/Euclid\ Circular\ A\ Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Euclid Circular';
  font-weight: 200;
  font-style: italic;
  src: url('../fonts/Euclid\ Circular\ A\ Light\ Italic.ttf') format('truetype');
}

:root {
  --black: 42, 43, 46;
  --gray: 66, 67, 74;
  --light: 164, 194, 168;
  --light-green: 172, 235, 152;
  --green: 135, 255, 101;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  margin: 0;
  width: 100vw;
  font-family: 'Euclid Circular', sans-serif;
  font-weight: bold;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(var(--black));
}

.glowText {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.3), 0 0 30px rgba(var(--green), .4), 0 0 40px rgba(var(--green), .4);
}
.glowBox {
  box-shadow:
    0 0 10px 3px rgba(255, 255, 255, .1),
    0 0 20px 5px rgba(var(--green), .1),
    0 0 20px 5px rgba(0, 255, 255, .1);
}
.glowBox:hover {
  box-shadow:
    0 0 20px 3px rgba(255, 255, 255, .3),
    0 0 40px 5px rgba(var(--green), .3),
    0 0 40px 5px rgba(0, 255, 255, .3);
}