.part {
    height: 100vh;
}


.part1 {
    height: calc(100vh - 60px);
}

.part1 .mainPlate {
    position: absolute;
    top: -60px;
    right: 0;
    padding: 30px;
    background-color: rgb(17, 17, 17);
    color: rgb(var(--green));

    height: calc(100% + 60px);
    width: 50vw;

    box-shadow: 0 -10px 30px 0 rgba(0, 0, 0, .5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
}

.part1 .mainPlate h1 {
    font-style: normal;
    font-size: 70px;
}


.part2 {
    background-color: rgb(var(--green));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.part2 h1 {
    color: rgb(var(--green));
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.part2 .mintBGContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}
.part2 .mintBGContainer .mintBG {
    transform: rotateZ(-45deg) translateY(-);
    overflow: hidden;
    width: 120vw;
    filter: blur(2px);
}
.part2 .mintBGContainer .mintBG div {
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    text-shadow: -1px -1px 0 rgb(17, 17, 17), 1px -1px 0 rgb(17, 17, 17), -1px 1px 0 rgb(17, 17, 17), 1px 1px 0 rgb(17, 17, 17);
    color: rgb(var(--green));
    margin-top: 20px;
    text-align: center;
}
.part2 .mintBGContainer .mintBG div span {
    margin-right: 40px;
}

.part2 .mintBGContainer .mintBG div.leftStrip {
    animation: leftAnim 10s infinite linear;
}
.part2 .mintBGContainer .mintBG div.rightStrip {
    animation: rightAnim 10s infinite linear;
}

@keyframes leftAnim {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-386.334px);
    }
}
@keyframes rightAnim {
    from {
        transform: translateX(-386.334px);
    } to {
        transform: translateX(0);
    }
}
