.NFTCarousel {
    margin-top: 50px;
    padding: 40px;
    
    overflow: hidden;
    width: 120vw;
    height: 480px;
    justify-content: space-evenly;

    transform: rotate3d(-.1, -1, -0.1, 50deg);
    position: absolute;
    top: 150px;
    left: -25vw;
    z-index: 0;
}

.NFTCarousel .blurMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.NFTCarousel .NFTContainer {
    display: flex;
    flex-direction: row;
    animation: scrolling 16s linear infinite;
}

@keyframes scrolling {
    from {
        transform: translateX(0px);
    } to {
        transform: translateX(-2204px);
    }
}