.NFTWrap {
    flex: 1 1 auto;
    height: 100vh;
    overflow: hidden;
    margin-top: 15vh;
}
.NFTMover {
    width: 50vw;
    height: 100%;
    transform: translateY(500px);
}
.NFTCarousel {
    margin-top: 50px;
    padding: 40px;
    
    overflow: hidden;
    width: 120vw;
    height: 480px;
    justify-content: space-evenly;

    transform: rotate3d(-.1, -1, -0.1, 50deg) translate3d(-500px, -500px, -500px);
    position: absolute;
    top: 150px;
    left: -30vw;
    z-index: 1;

    position: absolute;
    z-index: 1;
}

.NFTCarousel .blurMask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.NFTCarousel .NFTContainer {
    display: flex;
    flex-direction: row;
    animation: scrolling 16s linear infinite;
}

@keyframes scrolling {
    from {
        transform: translateX(0px);
    } to {
        transform: translateX(-2204px);
    }
}

@media screen and (max-width: 700px) {
    .NFTCarousel {
        top: 0;
        left: -40vw;
        width: 200vw;
    }
    .NFTMover {
        width: 100vw;
    }
}